<button id="authorize-button">Authorize</button>
<table>

<div class="tl">
	<span>Important and has no deadline</span>
	<div id="inner">
		<div>Task 1</div>
		<div>Task 1</div>
		<div>Task 1</div>
		<div>Task 1</div>
		<div>Task 1</div>
		<div>Task 1</div>
		<div>Task 1</div>
		<div>Task 1</div>
		<div>Task 1</div>
		<div>Task 1</div>
	</div>
</div>
</div>
<div class="tr">
	<span>Important and has a deadline</span>
	<div id="inner">
		<div id="results"></div>
	</div>
</div>
<div class="bl">
	<span>Not important and has no deadline</span>
	<div id="inner">

	</div>
</div>
<div class="br">
	<span>Not important and has a deadline</span>
	<div id="inner">

	</div>
</div>
</table>
