<button style='display:none;' id="authorize-button">Authorize</button>
<table>

<div class="tl">
	<span>Important no deadline</span>
	<div id="inner">
		<div><div class='task'><h1>task.title<br /></h1><p2>Notes: "+task.notes+"<br /></p2><p3>Due: "+task.due+"<br /></p3></div></div><div class='line-separator'></div>
		<div>Task 1</div>
		<div>Task 1</div>
		<div>Task 1</div>
		<div>Task 1</div>
		<div>Task 1</div>
		<div>Task 1</div>
		<div>Task 1</div>
		<div>Task 1</div>
		<div>Task 1</div>
	</div>
</div>
</div>
<div class="tr">
	<span>Important with deadline</span>
	<div id="inner">
		<div id="results"></div>
	</div>
</div>
<div class="bl">
	<span>Not important no deadline</span>
	<div id="inner">

	</div>
</div>
<div class="br">
	<span>Not important with deadline</span>
	<div id="inner">

	</div>
</div>
</table>
