<table class="table table-condensed">
    <tbody>
        <tr>
            <td><div class="cont">
            	<table class="table table-condensed table-bordered table-striped">
				    <caption>Important</caption>
				    <tbody id="imp">

				    </tbody>
				</table>
            </div></td>
            <td><div class="cont">
            	<table class="table table-condensed  table-bordered">
				    <caption>Important & Urgent</caption>
				    <tbody id="imp_urg">

				    </tbody>
				</table>
            </div></td>
        </tr>
        <tr>
            <td><div class="cont">
            	<table class="table table-condensed table-bordered">
				    <caption></caption>
				    <tbody id="urg">

				    </tbody>
				</table>
            </div></td>
            <td><div class="cont">
            	<table class="table table-condensed table-bordered">
				    <caption>Urgent</caption>
				    <tbody id="none">

				    </tbody>
				</table>	
            </div></td>
        </tr>
    </tbody>
</table>








