<div class="center hero-unit" style="text-align: center">
<table>
  <tr>
    <td id="quadrant_1">Quad 1</td>
    <td id="quadrant_2">Quad 2</td>
  </tr>
  <tr>
    <td id="quadrant_3">Quad 3</td>
    <td id="quadrant_4">Quad 4</td>
  </tr>
</table>
</div>
