

.tl { 
	position: absolute; 
	top: 0; 
	left: 0; 
	right: 50%; 
	bottom: 50%; 
	background: none; 
	border:solid #000; 
	border-width: 0 2px 2px 0; 
}

.tr { 
	position: absolute; 
	top: 0; 
	left: 50%; 
	right: 0; 
	bottom: 50%; 
	background: none; 
	border: solid #000; 
	border-width: 0 0 2px 0; 

}

.bl { 
	position: absolute; 
	top: 50%; 
	left: 0; 
	right: 50%; 
	bottom: 0; 
	background: none; 
	border:solid #000; 
	border-width: 0 2px 0 0; 
}

.br {
	position: absolute;
	top: 50%;
	left: 50%;
	right: 0;
	bottom: 0;
	background: none;
}

#inner {
    width: 80%;
    height: 80%;
    position:absolute;
    border: dashed;
    top: 10%;
    left: 10%;
    overflow:scroll;
}

span{
	width:100%;
	text-align:center;
	align:center;
	display:block;
	padding: 5px;
	background-color:light-gray;
	font-size:1.2em;
}

h1{
	font-size:1em;
	padding: 2px;
	margin: 1px 1px 1px 1px;
	
}

p2{
	font-size:0.7em;
}

.line-separator{
width:80%;
height:1px;
background:#717171;
border-bottom:1px solid #313030;

}

p3{
	font-size:0.7em;
}
